@font-face {
  font-family: "QinghuaFont";
  src: url("../fonts/QinghuaFont.ttf") format("truetype");
}

body {
  font-family: "QinghuaFont", "微软雅黑", sans-serif;
  background: radial-gradient(circle, #104aa0, #0b0101);
  /* 径向渐变 */
}



.header {
  background-color: #53789f;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 2rem 5rem;
  background: url("../images/stroy/bg.png") no-repeat center center/cover;
  margin-bottom: 20px;
  /* 或使用其他适合的值 */
}

.hero__content {
  max-width: 600px;
  color: black;
}

.hero__content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: black;
  /* 强制应用颜色 */
}

.hero__content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #05101c !important;
  /* 强制应用颜色 */
}

/* 导航栏 */
.navbar {
  box-shadow: 0 2px 5px rgba(29, 74, 210, 0.5);
  position: fixed;
  /* 固定导航栏 */
  width: 100%;
  /* 宽度100% */
  z-index: 1030;
  /* 确保导航在其他元素上方 */
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  font-size: 1rem;
  color: #007bff !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0056b3 !important;
  text-decoration: underline;
  /* 添加下划线 */
  text-decoration-color: #0056b3;
  /* 设置下划线颜色 */
}

.container {
    max-width: 1100px; /* 容器宽度 */  
}

#artistic-style {
  /* background-color: #86b7fe; */
  padding: 30px;
  border-radius: 10px;
  font-style: italic;
  background: linear-gradient(to right, #c7d5de, #4367a0);
}

#cultural-diffusion {
  /* background-color: #86b7fe; */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: linear-gradient(to right, #c7d5de, #4367a0);
}

#modern-applications {
  /* background-color:#86b7fe; */
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: linear-gradient(to right, #c7d5de, #4367a0);
}

#international-influence {
  /* background-color: #86b7fe; */
  padding: 20px;
  border: 0px solid #eee;
  border-radius: 10px;
  background: linear-gradient(to right, #c7d5de, #4367a0);
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.highlight {
  background-color: #e3f2fd;
  border-left: 3px solid #2196f3;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.card {
  height: 420px;
  margin-bottom: 30px;
  padding: 5px;
  border: 3px solid rgb(58, 126, 203);
}

.card img {
  border-radius: 5px;
  max-height: 150px;
  /* margin-bottom: 50px; */
  margin: auto;
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

.col-md-4 {
  margin-bottom: 10px;
  padding: 15px;
  /* border: 3px solid rgb(58, 126, 203); */
}

.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}