body {  
    margin: 0;  
    font-family: 'Roboto', sans-serif;  
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);  
}  

.header, .footer {  
    text-shadow: 2px 2px 4px #000000;  
    background: linear-gradient(to right, #141E30, #243B55);  
}  

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {  
    transition: color 0.15s;  
}  

.navbar-dark .navbar-nav .nav-link:hover {  
    color: #ff7e5f;  
}  

.card {  
    border: none;  
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    overflow: hidden;  
    transition: box-shadow 0.3s;  
}  

.card:hover {  
    transform: scale(1.05);  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
}  

.btn-outline-primary {  
    transition: background-color 0.3s, color 0.3s;  
}  

.btn-outline-primary:hover {  
    background-color: #7b4397;  
    color: #fff;  
}  

.footer {  
    background-color: #141E30;  
    color: white;  
    text-align: center;  
    padding: 10px;  
    width: 100%;  
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.2);  
}  

.bg-gradient {  
    background: linear-gradient(to right, #373b44, #4286f4);  
}